
.center-block {
  position: absolute;
  top: 10%;
  margin:0 auto;
}

input[type="date"].form-control {
  padding: 0 .25rem;
}

.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px solid #fff;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}

#removeButton {
  position: absolute;
  right: 50%;
}
